# Lab 1 - Pandas Intro

In [ ]:
import pandas as pd

movies_df = pd.read_csv("movie.csv")
movies_df

## Questions

**0.** What is the average IMDB Score of all the movies?

In [67]:
movies_df.imdb_score.mean()

6.4374288039056085

**1.** How many movies have "Star Wars" in the movie_title field?

In [280]:
title = movies_df[movies_df.movie_title.str.contains("Star Wars")]
title.movie_title.count()

8

**2.** Which movie has the highest IMDB Score? What is that score?

In [233]:

total = movies_df.loc[ : ,["movie_title", "imdb_score"]].sort_values("imdb_score", ascending=False)
total.iloc[0]

movie_title    Towering Inferno
imdb_score                  9.5
Name: 2725, dtype: object

**3**. Which movie has the lowest IMDB Score? What is that score?

In [69]:

total = movies_df.loc[ : ,["movie_title", "imdb_score"]].sort_values("imdb_score", ascending=True)
total.iloc[0]

movie_title    Justin Bieber: Never Say Never
imdb_score                                1.6
Name: 2789, dtype: object

**4.** For each director, how many movies have they directed (from this dataset)?

In [72]:
movies_df.director_name.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: director_name, Length: 2397, dtype: int64

**5.** What's the average duration of Action movies?

In [328]:

movies_df[movies_df.genres.str.contains("Action")].duration.mean()

110.67657657657658

**6.** Which PG-13 movie had the biggest budget?

In [327]:
content = movies_df[movies_df.content_rating == "PG-13"].sort_values("budget", ascending=False)
content.movie_title.head(1)

2294    Princess Mononoke
Name: movie_title, dtype: object

**7.** How many movies were made in each year (title_year)?

In [180]:
movies_df.title_year.value_counts()

2009.0    253
2014.0    243
2006.0    233
2013.0    231
2010.0    225
         ...
1932.0      1
1916.0      1
1934.0      1
1925.0      1
1920.0      1
Name: title_year, Length: 91, dtype: int64

**8.** How many movies had more than 10000 movie_facebook_likes?

In [182]:
likes = movies_df.movie_facebook_likes >= 10000
likes.sum()

1098


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [355]:
df = movies_df.loc[ : ,["actor_1_name"]]
tom = df[df.actor_1_name== "Tom Hanks"]
lp = movies_df.loc[ : ,["actor_2_name"]]
face = lp[lp.actor_2_name== "Tom Hanks"]
hanks = movies_df.loc[ : ,["actor_3_name"]]
name = hanks[hanks.actor_3_name== "Tom Hanks"]

tom.count(),face.count(),name.count()

(actor_1_name    24
 dtype: int64,
 actor_2_name    4
 dtype: int64,
 actor_3_name    0
 dtype: int64)

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

In [359]:
movie_votes = movies_df[(movies_df.facenumber_in_poster < 2) ]
movie_votes[["movie_title","num_voted_users"]]

                                     movie_title  num_voted_users
0                                         Avatar           886204
1       Pirates of the Caribbean: At World's End           471220
2                                        Spectre           275868
3                          The Dark Knight Rises          1144337
4     Star Wars: Episode VII - The Force Awakens                8
...                                          ...              ...
4909                             The Mongol King               36
4910                                   Newlyweds             1338
4912                               The Following            73839
4913                        A Plague So Pleasant               38
4915                           My Date with Drew             4285

[3313 rows x 2 columns]

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

In [263]:
stats = movies_df.loc[ : ,["title_year", "director_name", "director_facebook_likes"]].sort_values("director_facebook_likes", ascending=False)
year = stats[stats.title_year.between(2000,2004)]
year

      title_year      director_name  director_facebook_likes
1057      2002.0  Christopher Nolan                  22000.0
3646      2000.0  Christopher Nolan                  22000.0
1034      2002.0      David Fincher                  21000.0
2849      2002.0  Denzel Washington                  18000.0
2023      2004.0       Kevin Spacey                  18000.0
...          ...                ...                      ...
3147      2002.0   David Cronenberg                      0.0
3142      2000.0          Spike Lee                      0.0
3121      2004.0  Timothy Björklund                      0.0
2683      2001.0        David Lynch                      0.0
2846      2002.0      John Stainton                      0.0

[932 rows x 3 columns]